<meta name="title" content="Aman Desai">
<meta name="description" content="It is a personal blogging site created by Aman Desai. I write technical blogs. I give away free udemy courses.">
<meta name="keywords" content="Udemy, Courses, Free, Torrent, Hacker, Blog, Coder, Code, Computer Science, Data Structures">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 days">
<meta name="author" content="Aman Desai">