<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>{{ site.title }}</title>
    {% include css.html %}
    {% include meta.html %}
</head>


<body class="home blog">

    <!-- Preloader Gif -->
    {% include loader.html %}

    <!-- Left Sidebar -->
    {% include sidebar.html %}

    <!-- Home Content -->
    <div id="content" class="site-content">
        <div id="blog-wrapper">
            <div class="blog-holder center-relative">


                <article id="post-1" class="blog-item-holder featured-post">
                    <div class="entry-content relative">
                        <div class="content-1170 center-relative">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        HEY THERE !
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="entry-date published">February 12, 2016</div> -->
                            <h2 class="entry-title">
                                I AM AMAN!
                            </h2>
                            <div class="excerpt">
                                <h3>
                                    A Curious person, interested in writing codes that deploy changes and affect world!
                                    <br>
                                </h3>

                                <a href="{{ site.cv_link }}">Feel Free to Checkout My Resume <a class="read-more"
                                        href="{{ site.cv_link }}"></a> </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <h5>My Blogs <i class="fa fa-arrow-down"></i> </h5>
                <hr>
                {% include recentposts.html %}
                
            </div>
            <div class="clear"></div></div>
            <div class="featured-image-holder">
                <div class="featured-post-image" style="background-image: url(demo-images/featured-image.jpg)"></div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
        {% include scripts.html %}
</body>

</html>