<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweets by Aman Desai</title>
    {% include css.html %} {% include meta.html %}
  </head>
  <body>
    {% include sidebar.html %} {% include loader.html %}
    <div id="content" class="site-content">
      <div id="blog-wrapper">
        <iframe src="alltweets.html" height="700">
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
